@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700;800&display=swap');

*{
  margin: 0px;
  padding: 0px;
  font-family: 'Inter', sans-serif;
}

.learn{
  width: 100vw;
  height: 100vh;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.learn h1{
  text-align: center;
  margin: 40px auto;
}

.learn-ipcsec{
  border: 1px solid gainsboro;
  height: auto;
  width: 60vw;
}

.learn-space{
  padding: 5px;
}